.font-mulish{
    font-family: Mulish;
}
.font-inter{
    font-family: Inter;
}
.primary-btn-color{
    background-color: #797DFC;
}
.banner-container{
    background-color: #12132D;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 32px;
}
.sub-container{
    background: url(images/bgbanner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 32px;
    background-size: cover;
}


/* Add your styles for the loading spinner here */
 


